<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DEVICES</title>
    {% block styles %}
        <link href="../static/css/bootstrap.min.css" rel="stylesheet">
        <link href="../static/css/style.css" rel="stylesheet">
    {% endblock %}

  <style type="text/css">
   TABLE {
    width: 50%; /* Ширина таблицы */
    border: 2px solid #0095b6; /* Граница вокруг таблицы */
    border-spacing: 7px 5px; /* Расстояние между границ */
   }
   TD {
    border: 2px solid #0095b6; /* Граница вокруг ячеек */
    padding: 5px; /* Поля в ячейках */
   }
</style>
</head>
<body>
<div style="margin: 25px">
    <h1>APPLICATION INSTALLED</h1>
<a href="../adb/">BACK</a>
</div>

<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/scripts.js"></script>
</body>
</html>