<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DEVICES</title>
    {% block styles %}
        <link href="../static/css/bootstrap.min.css" rel="stylesheet">
        <link href="../static/css/style.css" rel="stylesheet">
    {% endblock %}

  <style type="text/css">
   TABLE {
    width: 50%;
    border: 2px solid #0095b6;
    border-spacing: 7px 5px;
   }
   TD {
    border: 2px solid #0095b6;
    padding: 5px;
   }
</style>
</head>
<body>
<div style="margin: 25px">
    <h1>APPLICATION INSTALLED</h1>
<a href="../adb/">BACK</a>
</div>

</body>
</html>